div .initHome {
  margin-left: 15%;
  margin-top: 2%;
  margin-right: 11%;
}

div .sortBox {
  margin-left: 75%;
  margin-bottom: 5px;
}

.postData {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
