.navbar {
  overflow: hidden;
  background-color: #0d0a18;

  z-index: 50;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
}

.navbar a:hover:not(.logo) {
  color: #5beee5;
}

.navbar .logo {
  margin-left: 200px;
  font-weight: bold;
  font-size: 30px;
}

.navbar .nav {
  margin-left: 30px;
  margin-top: 6px;
}

.navbar input {
  position: absolute;
  width: 500px;
  height: 42px;
  padding: 12px 10px;
  margin: 23px 160px;
  border: none;
  background-color: #3c3d50;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-image: url("../../../img/searchicon.png");
  background-size: 20px 20px; /* 이미지 크기 설정 */
  background-position: 15px 12px; /* 이미지 위치 조정 */
  padding-left: 45px; /* 이미지와 텍스트 사이의 간격 조정 */
  color: #ffffff;
}

.navbar input:focus {
  border: solid 1px #5beee5;
  outline: none;
}

.nav::placeholder {
  color: #ffffff80;
}

.navbar .login {
  display: inline-block;
  margin-left: 900px;
  margin-top: 6px;
}

.navbar .login .aTag {
  padding-right: 6px;
}

.navbar .login .aTagInit {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
}

.loginImgWrapper {
  margin-top: 23px;
  display: inline-block;
}

.loginImg {
  width: 20px;
  height: 20px;
}
